
<ion-item-sliding  *ngIf="currentState == 'view'">
  <ion-item-options side="end">
    <ion-item-option (click)="deletePriceCategory()" color="danger" expandable>
        <ion-icon slot="top" name="trash" style="height: 24px; width: 24px;"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item>
<div class="row-box">
<div class="row">
  <div class="col"><span class="subtitle ion-text-capitalize font-weight-bold">PAIRS COUNT</span><span style="font-size: 12px">{{priceData.priceData.pairsCount}}</span></div>
  <div class="col"><span class="subtitle ion-text-capitalize font-weight-bold">PRICE</span><span style="font-size: 12px">{{priceData.priceData.pricePerHour}}</span></div>
  <div class="icon-col col" (click)="changeState()"><ion-icon name="create"></ion-icon></div>
</div>
</div>
</ion-item>
</ion-item-sliding>

<div *ngIf="(currentState == 'edit' || currentState == 'new') && !!priceData">
<div class="edit-row-box">
<span class="title" *ngIf="currentState == 'edit'">Edit Item</span>
<span class="title" *ngIf="currentState == 'new'">New Item</span>
<div class="row" style="width: 95%">
  <div class="col" style="width: 50%">
    <div class="input-box" >
      <ion-input clearInput placeholder="pairs Count" [(ngModel)]="priceData.priceData.pairsCount">
      </ion-input>
    </div>
  </div>
  <div class="col" style="width: 50%">
    <div class="input-box" >
      <ion-input clearInput placeholder="price Per Hour" [(ngModel)]="priceData.priceData.pricePerHour">
      </ion-input>
    </div>
</div>
</div>

<div class="row buttons-row">
<ion-button shape="round" fill="outline" style="width: 25%" *ngIf="currentState == 'edit'" (click)="updatePrice()" >Save</ion-button>
<ion-button shape="round" fill="outline" color="warning" style="width: 25%" (click)="changeState()" *ngIf="currentState == 'edit'">Cancel</ion-button>

<ion-button shape="round" fill="outline" style="width: 25%" (click)="addPrice()" *ngIf="currentState == 'new'">Add</ion-button>
<ion-button shape="round" fill="outline" color="danger" style="width: 25%" (click)="changeState(true)" *ngIf="currentState == 'new'">Delete</ion-button>
</div>
</div>

</div>