<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-title style="margin-left: -48px;">Account Settings</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" *ngIf="!!user">
  <div class="user-box">
    <div class="user-avatar">
    </div>
    <div class="user-email">{{user.email}}</div>
    <div class="user-email" *ngIf="!!userData">{{userData.role}}</div>
  </div>

  <div class="buttons-list col" *ngIf="!!userData">
  <!-- <ion-button shape="round" fill="outline">Edit Profile</ion-button> -->
  <ion-button shape="round" fill="outline" (click)="navigateTo('menu/prices')" *ngIf="userData.role.match('Admin')">Edit Prices</ion-button>
  <ion-button shape="round" fill="outline" (click)="navigateTo('menu/shop-management')" *ngIf="userData.role.match('Admin')">View and Edit Shop Items</ion-button>
  <ion-button shape="round" fill="outline" (click)="navigateTo('menu/accounts-management')" *ngIf="userData.role.match('Admin')">Accounts Management</ion-button>
  </div>

</ion-content>
