:host {
    .content {
        display: flex;
        flex-direction: column;
        .user-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40%;
            justify-content: center;
            background-color: var(--ion-color-primary);
            .user-avatar {
                height: 120px;
                width: 120px;
                border-radius: 100%;
                background-color: white;
            }
            .user-email {
                color: white;
                margin-top: 17px;
            }
        }
        .buttons-list {
            height: 60%;
            margin-top: 16px;
            ion-button {
                --border-radius: 16px;
                margin: 8px 16px;
                --background: white;
                --color: var(--ion-color-primary);
                height: 48px;
            }
        }
    }
}