:host {
    .empty-list {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #C3C4C6;
        height: 100%;
        width: 100%;
        font-size: 12px;
    }
}